@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../components/AppSidebar/AppSidebar.css);
@import url("../components/Ticket/Ticket.css");
@import url("../components/SlateEditor/Editor.css");
@import url("../components/SlateEditor/Elements/ColorPicker/ColorPicker.css");
@import url("../components/SlateEditor/Elements/Image/Image.css");
@import url("../components/SlateEditor/Elements/Link/styles.css");
@import url("../components/SlateEditor/Elements/Table/Table.css");
@import url("../components/SlateEditor/Elements/Video/Video.css");
@import url("../components/SlateEditor/Toolbar/styles.css");
@import url("../components/CustomTable/Table.css");
@import url("./messages.css");
@import url("../pages/login/login.css");

:root {
  --scrollbarBG: #122025;
  --thumbBG: #90a4ae;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  --bg-slate-800: rgb(30, 41, 59);
  --bg-gray-800: rgb(31, 41, 55);
  /* background: linear-gradient(250deg, #7b2ff7, #f107a3); */
  /* background-color: rgb(245 208 254); */
  /* background-color: var(--bg-gray-800); */
  background-image: url("../assets/images/login/bg-8.jpg");
  background-repeat: no-repeat;
  display: block;
  /* overflow-y: scroll; */
}

body::-webkit-scrollbar {
  width: 15px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.App {
  font-family: sans-serif;
  text-align: center;
}
