.toolbar {
  border-radius: 10px;
  background-color: rgb(64 64 64);
  margin: 5% 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 10px;
  row-gap: 15px;
}
.toolbar-grp > * {
  margin-right: 10px;
  cursor: pointer;
}
.toolbar-grp {
  margin: 0 10px;
}
select {
  height: 30px;
  border: none;
  width: 6.9rem;
}
