.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.half-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;
}

.box {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  background: black;
  opacity: 0.5;
  border-radius: 50px;
}
